{% extends "base.html" %}
{% block content %}

<nav class='teal'>
  <div class="nav-wrapper">
    <a href="" class="brand-logo center">  <i class="material-icons left">visibility</i>E-COP</a>
  </div>
</nav>
<div style="position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em;">
<div class="card-panel hoverable grey lighten-4">
<div class="col-sm-offset-4">
<a href="/crimefiles/login/">Login to Continue</a>
</div>
</div>
</div>




{% endblock %}
