{% extends "base.html" %}
{% block content %}

<nav class='teal'>
  <div class="nav-wrapper">
    <a href="" class="brand-logo center">  <i class="material-icons left">visibility</i>E-COP</a>
  </div>
</nav>


<div class="card-panel hoverable grey lighten-4"></div>

<div class="card-panel hoverable grey lighten-4"></div>

<div class="card-panel hoverable grey lighten-4"></div>

<div class="card-panel hoverable grey lighten-4"></div>

<div class="card-panel hoverable grey lighten-4">
<div class="col-sm-offset-5">
<a href="/crimefiles/login/">Login to Continue</a>
</div>
</div>

<div class="card-panel hoverable grey lighten-4"></div>

<div class="card-panel hoverable grey lighten-4"></div>

<div class="card-panel hoverable grey lighten-4"></div>

<div class="card-panel hoverable grey lighten-4"></div>


{% endblock %}
