{%load staticfiles %}
<!--DOCTYPE html -->
<html>
<head>
<title>{% block head_title %} Crimefiles{% endblock head_title%}</title>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"> -->
<!-- icons  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- <link rel='stylesheet' href={% static "css/base.css" %}/> -->
	<style type="text/css;">{%block style%}{%endblock style%}</style>

<!---Import materialize.css--> 
      <link type="text/css" rel="stylesheet" href={% static "css/materialize.min.css"%}  media="screen,projection"/>


	
</head>
<body>


	{%include "messages_display.html"%}
<!--  -->

	{%block content%}{%endblock content%}

	<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<!--Import jQuery before materialize.js-->
<!--       <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src={% static "js/materialize.min.js"%}></script> -->

</body>
</html>
