{%extends "base.html"%}
{% block head_title %} {{instance.title}}{% endblock head_title%}


{%block content%}
<div class="col-sm-6 col-sm-offset-3">
<h1>Complaint {{title}}<small>{{instance.dateofcomplaint}}</small></h1>
Description : {{instance.content|linebreaks}}<br/>
Police Station :{{instance.policestation}}</br>
Location : {{instance.location}}

<h2>{{title2}}</h2>
{{instance2.firid}}<br/>
{{instance2.content}}<br/>
{{instance2.signedby}}<br/>

<h3>{{title3}}</h3>
{%for object in instance3%}

<h4> {{object.title}}<small>{{object.dateofregister}}</small></h4>

{{object.description}}></br><br/>
{%endfor%}

<h3>{{title4}}</h3>
{%for obj in instance4%}

<h4>case number :- {{obj.casenumber}} <small>{{obj.dateofregister}}</small></h4><br/>
court name : {{obj.courtname}}<br/>
procedure done : {{obj.description}}<br/>
<br/>
<br/>
{%endfor%}

</div>
{%endblock content%}
