{%extends "base.html"%}
{%block content%}

<nav class ="teal" role="navigation">
	 <div class="navbar-wrapper ">
<!-- {{title}} -->
		 <div class="brand-logo" style="font-family: 'Lucida Grande', Helvetica, Arial, sans-serif; font-size: 18pt;"><a href="/crimefiles/"><i class="material-icons left" style="margin-top: .1em;">list</i>Registered Complaints</a></div>
		 <ul id="nav-mobile" class="right hide-on-med-and-down">
<li>
			 <form method="GET" action="">
			 <div class="input-field">
				 <label for="search"><i class="material-icons">search</i></label>
				<input type="text" name="q" placeholder="  Search" value="{{request.GET.q}}"/>
			 	<!-- <input type="submit" value="Search"/> -->

		</div>
		</form>
			 <li/>
			 <li class=" teal lighten-1"><a href="/crimefiles/createcomplaint"> <i class="material-icons left  " style="margin-top: .1em;">add</i>New Complaint</a></li>
        <li><a href="">{{who}}</a></li>
			 <li><a href="/accounts/logout"> Logout</a></li>

		 </ul>
	 </div>
 </nav>


<!-- <h1>{{title}}<br/></h1> -->


<br/>
<br/>
	<div class="row">
	{%for object in object_list%}
<!--edit here for changing induvijual ones -->
<!-- <div class="card-panel hoverable grey lighten-4"> -->
    <!-- {{object.complaintid}}</br>
		{{object.dateofcomplaint}}</br>
		Status: {{object.status}}<br/>
		<a href='{{object.get_absolute_url}}'  class="waves-effect waves-light btn" role="button">View</a> -->

		<ul class="collection">
	     <li class="collection-item avatar">
	       <i class="material-icons circle  teal darken-2">info_outline</i>
	       <div class="title" style="font-size:18pt;">Complaint number {{object.complaintid}}</div>

					 {{object.dateofcomplaint}} </br>
	        Status : {{object.status}}
	       <!-- </p> -->
	      <a href='{{object.get_absolute_url}}'  class="waves-effect waves-light btn secondary-content" role="button">View</a>
	     </li>
	   </ul>

<!-- </div> -->

	{% endfor%}


<!--paginator dont change-->
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}

            <a href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


</div>



<!-- footer -->



    <footer class="page-footer teal">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Crimefiles </h5>
                <p class="grey-text text-lighten-4">An Online complaint registration and case tracking system</p>
              </div>

            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Gautham, Sulyab, Geetha, Akhila
            <a class="grey-text text-lighten-4 right" href="/accounts/register"></a>
            </div>
          </div>
        </footer>


{%endblock content%}
