{%extends "base.html"%}
{% block head_title %} {{instance.title}}{% endblock head_title%}


{%block content%}
<div class="col-sm-6 col-sm-offset-3">
<h1>{{title}}!<small>{{instance.dateofcomplaint}}</small></h1>
Description : {{instance.content|linebreaks}}<br/>
Police Station :{{instance.policestation}}</br>
Location : {{instance.location}}

<h2>FIR</h2>
{{instance2.firid}}<br/>
{{instance2.content}}<br/>
{{instance2.signedby}}<br/>

<h3>Police Proceedings</h3>
{{instance3.title}}<br/>
{{instance3.dateofregister}}<br/>
{{instance3.description}}<br/>
</div>
{%endblock content%}
