{%extends "base.html"%}
{%block content%}
<nav class='teal'>
  <div class="nav-wrapper">
    <a href="" class="brand-logo center">  <i class="material-icons left">add</i>Create FIR</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/crimefiles">  <i class="material-icons left">view_list</i>Home</a></li>
    </ul>

  </div>
</nav>

<div class="col-sm-6 col-sm-offset-3">


{%if not instance3%}

<form method='POST' action=''>{% csrf_token %}
{{ form.as_p }}
<input type='submit' class="waves-effect waves-light btn" value='submit FIR'/>
</form>
{%endif%}
{%if instance3%}

Only one FIR can be filed per case.
{%endif%}

</div>
{%endblock content%}
